################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/My project/UserSettings
/My project/Temp
/My project/obj
/My project/My project.sln
/My project/Logs
/My project/Library
/My project/Assembly-CSharp.csproj
/My project/Assembly-CSharp-Editor.csproj
/My project/.vsconfig
/My project/.vs
/My project/UnityEngine.TestRunner.Player.csproj
/My project/UnityEngine.TestRunner.csproj
/My project/UnityEditor.UI.csproj
/My project/UnityEditor.TestRunner.csproj
/My project/Unity.VSCode.Editor.csproj
/My project/Unity.VisualStudio.Editor.csproj
/My project/Unity.Timeline.Player.csproj
/My project/Unity.Timeline.Editor.csproj
/My project/Unity.Timeline.csproj
/My project/Unity.TextMeshPro.Player.csproj
/My project/Unity.TextMeshPro.Editor.csproj
/My project/Unity.TextMeshPro.csproj
/My project/Unity.ShaderGraph.Utilities.csproj
/My project/Unity.ShaderGraph.Editor.csproj
/My project/Unity.Services.Core.Editor.csproj
/My project/Unity.Searcher.Editor.csproj
/My project/Unity.Rider.Editor.csproj
/My project/Unity.RenderPipelines.Universal.Shaders.Player.csproj
/My project/Unity.RenderPipelines.Universal.Shaders.csproj
/My project/Unity.RenderPipelines.Universal.Runtime.Player.csproj
/My project/Unity.RenderPipelines.Universal.Runtime.csproj
/My project/Unity.RenderPipelines.Universal.Editor.csproj
/My project/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
/My project/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/My project/Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
/My project/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/My project/Unity.RenderPipelines.Core.Runtime.Player.csproj
/My project/Unity.RenderPipelines.Core.Runtime.csproj
/My project/Unity.RenderPipelines.Core.Editor.csproj
/My project/Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
/My project/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/My project/Unity.PlasticSCM.Editor.csproj
/My project/Unity.Mathematics.Player.csproj
/My project/Unity.Mathematics.Editor.csproj
/My project/Unity.Mathematics.csproj
/My project/Unity.CollabProxy.Editor.csproj
/My project/Assembly-CSharp.Player.csproj
/My project/UnityEngine.UI.Player.csproj
/My project/UnityEngine.UI.csproj
